---
http_interactions:
- request:
    method: get
    uri: http://steamcommunity.com/market/listings/440/Unusual%20Bombing%20Run/render/?query=&start=0&count=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"start":0,"pagesize":"50","total_count":23,"results_html":"<div
        class=\"market_listing_table_header\">\r\n\t<span class=\"market_listing_right_cell
        market_listing_action_buttons\"><\/span>\r\n\t<span class=\"market_listing_right_cell
        market_listing_their_price\">PRICE<\/span>\r\n\t<span class=\"market_listing_right_cell
        market_listing_seller\">SELLER<\/span>\r\n\t<div><span class=\"market_listing_header_namespacer\"><\/span>NAME<\/div>\r\n<\/div>\r\n\r\n<div
        class=\"market_listing_row market_recent_listing_row listing_2940022518742514590\"
        id=\"listing_2940022518742514590\">\r\n\t\r\n\t<div class=\"market_listing_item_img_container\">\t\t<img
        id=\"listing_2940022518742514590_image\" src=\"http:\/\/cdn.steamcommunity.com\/economy\/image\/b2qaxXWSHjDe8MlGnUSDAtcmUHQx4hBuGz8SUDS-0q2yYrQlIsVJKHco07S5ZdGRxn1QYjniAG0OMx1JaueG9KM_vHcrikMpbjWL[...]
